@use './variables' as v;
@use './mixins' as m;

.airtrav-best-services {
  background-color: v.$primary-blue;
  color: #fff;
  text-align: center;
}

.airtrav-best-services-container {
  padding: v.$spacing-large;
}
.service-icon {
  display: flex;
  padding: 9px 30px;
}
.service-icon img {
  width: 24px;
  height: 24px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.service-card {
  display: flex;
  padding: 25px 28px 15px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: v.$primary-black;
  max-width: 230px;
  max-height: 200px;
  border-radius: 12px;
}
