@use './variables' as v;
@use './mixins' as m;

.booking-section {
  background: #eaf0ff;
  padding: 30px 24px;
  @media (min-width: 1200px) {
    padding-block: 70px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    & > div:first-child {
      order: 2;
    }
  }
}

.big-card {
  display: flex;
  padding: 24px 20px;
  flex-direction: column;
  max-width: 374px;
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 0px 12.31551px 35.18716px -13.19519px rgba(15, 15, 15, 0.08);
}

.avatar {
  width: 36px;
  height: 36px;
}

.top-content {
  display: flex;
  gap: 16px;
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  h3 {
    color: v.$color-gray-2;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 12px;
    line-height: 1.42;
    font-weight: 500;
    color: v.$color-gray-3;
    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 327px;
  @media (min-width: 1200px) {
    max-width: 527px;
    gap: 24px;
  }
  h2 {
    margin-block: 0;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 500;
    @media (min-width: 1200px) {
      font-size: 40px;
      line-height: 1.5;
      font-weight: 700;
    }
  }
  p {
    font-size: 12px;
    color: v.$color-gray-3;
    line-height: 1.5;
    @media (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 50px;
      color: v.$color-gray-2;
    }
  }
}

.bottom-content {
  position: relative;
  .skeleton-card {
    width: 100%;
  }
  .book-now {
    position: absolute;
    right: 5%;
    top: 30%;
  }
}
.card-content {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 15px;
  margin-right: -24px;
}

.individual-card {
  max-width: 140px;
  width: 100%;
  padding: 14px 18px 24px;
  border: 1px solid #f4f5f6;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(15, 15, 15, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: 1200px) {
    padding: 15px 22px 26px;
  }
  .logo {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  .card-details {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 12px;
    color: v.$color-gray-2;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 10px;
    @media (min-width: 1200px) {
      font-size: 14px;
      font-weight: 600;
    }
  }
  p {
    line-height: 1.5;
    margin: 0;
    font-size: 10px;
    color: v.$color-gray-3;
    white-space: nowrap;
    @media (min-width: 1200px) {
      font-size: 11px;
      font-weight: 500;
    }
  }
}
