@use './variables' as v;
@use './mixins' as m;

.social-button {
  @include m.social-button;
}

.form-wrapper {
  display: flex;
  height: 1024px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signup-container {
  border-radius: 20px;
  box-shadow: v.$box-shadow-small;
  max-width: 500px;
  padding: 48px 30px;
}

.dark signup-container {
  border-radius: 20px;
  box-shadow: 0px 20px 60px -6px rgba(40, 40, 40, 0.08);
  max-width: 500px;
  padding: 48px 10px;
}

.signin-button,
.register-button {
  @include m.form-button;
}

label {
  color: #353945;
  font-family: inter;
  text-align: left;
  text-align: left;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

input {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #b1b5c3;
}
