@use './variables' as v;
@use './mixins' as m;
@use './functions' as f;

// Usage of mixins and variables
h1 {
  @include m.bold;
  font-size: f.rem(v.$font-size-h1); // Convert to rems
}

h2 {
  @include m.medium;
  font-size: f.rem(v.$font-size-h2); // Convert to rems
}

h3 {
  @include m.medium;
  font-size: f.rem(v.$font-size-h3); // Convert to rems
}

h4 {
  @include m.medium;
  font-size: f.rem(v.$font-size-h4); // Convert to rems
}

p {
  margin-top: 0;
  @include m.regular;
  font-size: f.rem(v.$font-size-p); // Convert to rems
}

li,
span {
  margin-top: 0;
  @include m.regular;
  font-size: f.rem(v.$font-size-li); // Convert to rems
}

a,
a:visited,
a:active {
  @include m.regular;
  font-size: f.rem(v.$font-size-p);
  color: v.$color-dark;
  text-decoration: none;
  &:hover {
    color: v.$color-dark;
    text-decoration: none;
  }
}

html {
  font-size: 100%;
}

body {
  background-color: v.$color-light;
}

img {
  object-fit: cover;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.flex {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style-type: none;
}
.text-gray {
  color: v.$color-dark;
}

@include m.breakpoint('small') {
  .flex {
    flex-direction: column;
  }
}
