@use './variables' as v;
// Mixin for regular text styles
@mixin regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

// Mixin for medium text styles
@mixin medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

// Mixin for bold text styles
@mixin bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

@mixin social-button {
  display: flex;
  width: 110px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: v.$color-light;
  border-radius: 10px;
  border: 1px solid #e6e8ec;
}

@mixin form-button {
  background-color: v.$primary-blue;
  color: v.$color-light;
  padding: 12px 30px;
  display: flex;
  align-self: stretch;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

@mixin save-button {
  background-color: v.$primary-blue;
  color: v.$color-light;
  padding: 12px 40px;
  justify-content: center !important;
  align-items: center;
  border-radius: 20px;
  border: none;
  gap: 10px;
  margin: v.$spacing-small;
}
// Mixin to handle breakpoints
@mixin breakpoint($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (max-width: 1440px) {
      @content;
    }
  }
}
