@use './variables' as v;
@use './mixins' as m;

.nav-text {
  color: v.$primary-black;
  &:hover {
    color: v.$hover-color;
    text-decoration: none;
    // transform: scale(1.1);
    transition:
      color 0.3s,
      transform 0.3s ease-in-out;
  }
}

.navbar-container {
  padding: 30px 60px;
}

.navbar-list-fullwidth {
  display: flex;
  gap: 20px;
  align-items: center;
  .text {
    color: v.$color-dark !important;
  }
}

.icon {
  display: none;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;

  .navbar-center,
  .navbar-right {
    display: flex;
    align-items: center;

    .navbar-li {
      margin: 0 10px;
      color: v.$color-dark;

      span {
        color: v.$color-dark;
      }
    }
  }
}

.menu-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.toggle-switch {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  cursor: pointer;
  top: 1.25em;
  right: 4em;
}

@include m.breakpoint('small') {
  .navbar-list {
    margin: 0;
    display: flex;
    flex-direction: column;

    li.navbar-li {
      margin-top: 0;
      padding: 0;
    }
  }

  toggle-switch {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    top: 1.25em;
    right: 4em;
  }
  .navbar-list-fullwidth {
    flex-direction: column;
    width: 100%;
    align-items: flex-start !important;
    padding: 10px;
    .logo-icon {
      height: 30px;
      width: 30px;
      margin-left: 10px;
      position: fixed;
      z-index: 1;
      cursor: pointer;
      top: 1.25em;
      left: 2em;
    }

    .navbar-li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .nav-elements {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    height: 100%;
    transition: all 0.3s ease-in;
    overflow: hidden;
    transform: translateX(0);
  }

  .navbar-list {
    padding-left: 0;
  }

  .desktop-navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    padding-left: 0;

    .navbar-li {
      padding: 16px 16px 16px 16px !important;
      position: relative;
      color: v.$primary-black;
      border-bottom: solid 1px v.$color-dark;
      width: 100% !important;
      box-sizing: border-box !important;

      .desktop-navigation .navbar-li {
        border-bottom: none;
      }
    }

    .icon {
      display: inline-block;
      margin-right: 8px;
    }

    .dark .text {
      color: #fff;
    }

    .hide {
      display: none;
    }
  }
}

.menu-icon {
  display: block;
}

.nav-elements.active {
  display: block;
}
