@use './variables' as v;
@use './mixins' as m;

.trip-planning-container {
  margin: 50px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 70px;
  text-align: center;
}

.trip-planning-content {
  margin-bottom: v.$spacing-medium;
}

.trip-planning-card-container {
  display: flex;
  justify-content: center;
  gap: v.$spacing-medium;
  align-items: stretch;
}

.trip-card {
  display: flex;
  padding: 21px 36px 21px 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 272px;
  height: 250px;
  border-radius: 12px;
}

.trip-card:nth-child(1) {
  background-color: v.$secondary-green;
}

.trip-card:nth-child(2) {
  background-color: #fff4ee;
}
.trip-card:nth-child(3) {
  background-color: #ebf1ff;
}

.light-icon,
.website-icon,
.ebook-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.light-icon {
  background-color: v.$success-color;
}

.website-icon {
  background-color: v.$secondary-orange;
}

.ebook-icon {
  background-color: v.$primary-blue;
}

.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
}

.learn-more-text {
  margin: 0;
}

.card-description {
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
}

@include m.breakpoint('small') {
  .trip-planning-card-container {
    flex-direction: column;
    align-items: center;

    .trip-card {
      width: 80%;
    }
  }
}
