@use './variables' as v;

h1 {
  // Calculate the font size in pixels and then convert to rems
  font-size: v.$font-size-large;
}

h2 {
  font-size: v.$font-size-medium;
}

p {
  margin-top: 0;
  font-size: v.$font-size-small;
}

a,
a:visited,
a:active {
  font-size: v.$font-size-small;
  color: v.$text-color-light;
  text-decoration: none;
  &:hover {
    color: v.$text-color-light;
    text-decoration: none;
  }
}
