// Color Palette
$primary-blue: #3b71fe;
$primary-black: #141416;
$secondary-orange: #fa8f54;
$secondary-yellow: #ffd166;
$secondary-aqua: #7ed4cf;
$success-color: #58c27d;
$error-color: #ff6370;

// Spacing
$spacing-small: 30px;
$spacing-medium: 50px;
$spacing-large: 70px;

// Typography
$font-size-h1: 40;
$font-size-h2: 30;
$font-size-h3: 24;
$font-size-h4: 20;
$font-size-p: 18;
$font-size-li: 16;
$line-height: 1.5;

// Border
$border-width: 1px;
$border-radius: 4px;

// Box Shadow
$box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0 4px 8px rgba(0, 0, 0, 0.2);

// Background & Text Color
$color-light: #fff;
$color-dark: #353945;
