@use './partials/setup';
@use './partials/variables';
@use './partials/main-styles';
@use './partials/navbar';
@use './partials/dark-mode';
@use './partials/login';
@use './partials/create-trip';
@use './partials/header';
@use './partials/footer';
@use './partials/trip-planning';
@use './partials/discover';
@use './partials/two-week-trip-plan';
@use './partials/air-trav-best-services';
@use './partials/easy-trip-bookings';
@use './partials/how-it-works';
@use './partials/reservation';
